
header{
    margin: 53px 0px;
}

body{
    font-family: 'Open Sans';
}

.nav{
}
.nav_ul{ 
     text-align: center;
}
.nav_li{
    display: inline-block;
    
}
.nav_li:not(:last-of-type){
    margin-right: 47px;
} 

.nav_link{
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #000000;
text-decoration: none;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    
}

.background{
text-align: center;
background-image: url(../Backround/pexels-harrison-candlin-2441454\ 1\ \(2\).png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-size: cover;
}

.background_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    padding-top: 134px;
    color:white ;
    border: 0%;
    
}

.background_button{
    width: 420px;
    height: 68.04px;
    border: none;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 36px;
    color: #162C38;
    margin-top: 20px;
    margin-bottom: 174px; }

.description{
    background-color: #5C98AB;
    text-align: center;
    }

.description_text{
    max-width: 726px;
    margin: 0px auto;
    width: 726px;
    font-family: 'Open Sans';
    font-size: 36px;
    line-height: 49px;
    color: white;
    padding: 65px 0px;
    padding-bottom: 202px;
}
