.head{ 
position: absolute;
width: 364px;
height: 25px;
margin-top: 50px;
margin-left: 720px;
}

.phon{
position: absolute;
width: 1300px;
height: 497px;
margin-top: 130px;
margin-left: 180px;}
.phon2{
position: absolute;
width: 1300px;
height: 497px;
margin-top: 130px;
margin-left: 180px;
background-color: #5C98AB;
margin-top: 627px;}

.text2{
position: absolute;
width: 726px;
height: 265px;
font-weight: 400;
font-size: 36px;
line-height: 49px;
text-align: center;
color: #FFFFFF;
margin-left: 265px;
}


.text{
position: absolute;
width: 800px;
height: 97.41px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 72px;  
color: rgb(255, 255, 255);
margin-top: 237px;
margin-left: 530px ;
}
.button{
position: absolute;
width: 420px;
height: 69.58px;
background: #FFFFFF;
border-radius: 5px;
margin-top: 337px;
margin-left: 630px ;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: #162C38;
border: 0px;
}

