main{
    display: grid;
    grid-template-areas: 
    'header header'
    'aside section'
    'footer footer';
    grid-template-columns: 20% 80%;
    grid-template-rows: 30px 700px 30px;
    gap: 10px   ;
    
}

header{
grid-area: header;
background-color: yellow;
}

aside{
    grid-area: aside;
    background-color: rgb(114, 114, 114);
}
 
section{
    grid-area: section;
    background-color: blanchedalmond;

}
footer{
    grid-area: footer;
    background-color: gold;
}

  

